[submodule "ranti-iitg.github.io"]
	path = ranti-iitg.github.io
	url = git@github.com:ranti-iitg/ranti-iitg.github.io.git
[submodule "public"]
	path = public
	url = git@github.com:ranti-iitg/ranti-iitg.github.io.git
	branch = master
